#define SECRET_SSID "" // Your network SSID (name)
#define SECRET_PASS "" // Your network password
#define SECRET_API_KEY "" // Your API key (get it using /api command in slack) 
#define SECRET_SLACK_ID "" // Your slack ID (get it by sending any message in the #what-is-my-slack-id channel)